$small: 850px;
$medium: 1300px;
$large: 1300px;

#appBody{
    overflow-y: hidden;
    background-color: seagreen;
}

#navigationBar {
    font-family: 'Josefin_Sans';
    font-size: 1.5em;
    font-weight: 600;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vh; 
    height: 5vh;
    margin-top: 2vh;
    background-color: rgb(104, 170, 133);
}

#videoContainer {
    display: flex;
    align-items: center;
    margin-left: 0vw; 
    padding-left: 4vw;

    // padding on both sides only for mobile devices
    @media screen and (max-width: $small) {
        padding-right: 4vw;
    } 
}

#customVideo {
    @media screen and (min-width: $medium) {
        width: 1000px;
        height: 562.5px;     
    }
    @media screen and (min-width: $small) and (max-width: $medium) {
        width: 750px;
        height: 421.9px;     
    }
    @media screen and (max-width: $small) {
        width: 92vw;
        height: (92/1.7777777)vw; 
    }
    

    padding-top: 10vh; 
    display: block;
}

#listArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin_Sans';
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-right: 0;
    background-color: rgb(158, 248, 203);
    height: 87vh;
}

#listContainer {
    width: 90%; 
    border-top: 2px solid steelblue;
    border-bottom: 2px solid steelblue;
}

#elementList {
    overflow-y: scroll;
    color: seashell;
    list-style-type:none; 
    padding: 0 2vw;
    height: 70vh;
}

.listElement {
    margin-bottom: 2vh;
    padding: 0.1vh 1vw; 
    background-color: rgb(49, 104, 77);
}