<body id="appBody">
  <nav id="navigationBar">
    <h1>{{ title }}</h1>
  </nav>
  <div class="container" style="margin:0">
    <div class="row" style="width: 99vw; height: 95vh;">
      <div class="col-lg-8 col-md-12" id="videoContainer">
        <video id="customVideo" controls>
          <source src="../assets/snippets/up_and_away.mp4"  type="video/mp4">
          This browser unfortunately does not support this video
        </video>  
      </div>
      <div class="col-4" id="listArea">
        <h2>Bereits gezogene Buzz Wörter:</h2>
        <div id="listContainer">
          <ul style="list-style-type:none; padding: 0 2vw;"> 
            <li *ngFor="let buzzWord of buzzWordList" style="margin-bottom: 2vh; background-color: blanchedalmond;">
              {{ buzzWord.name }}
            </li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>