<body style="margin:0;">
  <div style="display: flex;justify-content: center;flex-wrap: nowrap;">
    <div class="pageHead1">
      <span style="font-family: Roboto; font-size:2em;">Schwimmerfreunde </span><span style="font-family: Roboto; font-size:2em;">DAS </span>
    </div>
    <div class="pageHead2">
      <span style="font-family: Roboto;font-size:2em;"> Weihungstal e.V.</span><span style="font-family: Roboto;font-size:2em;"> QUIZ </span>
    </div>
  </div>
  <div style="height:90vh;width:100vw;display:flex;justify-content:space-evenly;align-items:center;flex-direction: row;">
    <table class="tdLevels">
      <tr class="tdLevels">
        <td class="thOthers">
          <p class="tableHead">Filme & Serien</p>
        </td>
        <td class="thOthers">
          <p class="tableHead">Tiere & Pflanzen</p>
        </td>
        <td class="thOthers">
          <p class="tableHead">Geographie</p>
        </td>
        <td class="thOthers"> 
          <p class="tableHead">Technik & Wissenschaft</p>
        </td>
        <td class="thOthers">
          <p class="tableHead">Staig</p>
        </td>
      </tr>
      <tr class="tdLevels" *ngFor="let level of levels">
        <td class="tdOthers">
          <button class="buttonStyle" (click)="loadQuestion(level)">{{ level }}</button>
        </td>
        <td class="tdOthers">
          <button class="buttonStyle">{{ level }}</button>
        </td>
        <td class="tdOthers">
          <button class="buttonStyle">{{ level }}</button>
        </td>
        <td class="tdOthers">
          <button class="buttonStyle">{{ level }}</button>
        </td>
        <td class="tdOthers">
          <button class="buttonStyle">{{ level }}</button>
        </td>
      </tr>
    </table>
  </div>
</body>